.todoOrder{
    display: flex;
    justify-content: center;
    width: 13vw;
    margin-left: 40vw;
    font-size: 20px;
    background-color: rgb(36, 2, 2);
    color: white

}
li{
    width: fit-content;

    text-align: center;
}